################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/week4-practice/.vs/week4-practice/v15/.suo
/week4-practice/week4-practice.sln
/week4-practice/.vs/config/applicationhost.config
